
<div class= "center-image">
<div class="jumbotron">
<div class="left-text">
<table height= "400px" width= "900px" background="http://www.rajnis.com/images/banner_3.jpg" >
<tr>
  <td>
    <div class="left-text">
    <form class="navbar-form navbar-left" role="search">
    <%= form_tag search_path do %>
    <%= text_field_tag  :search, "Search" , :class => "form-control"%>       
    <% end %>
    </form>
   <%= link_to "Create Recipie", new_recipy_path, class: "btn btn-primary navbar-btn" %>
      
    </div>

  </td>  
</tr>
</table>
</div>
 </div>  
<div align="center">
<div class='navbar navbar-inverse'>
      <div class='navbar-inner nav-collapse' style="height: auto;">
        <ul class="nav">
          <%= link_to "Breakfast", recipies_path("breakfast"), class: "btn btn-primary navbar-btn" %>
          <%= link_to "Lunch", recipies_path("lunch"), class: "btn btn-primary navbar-btn" %>
          <%= link_to "Snacks", recipies_path("snack"), class: "btn btn-primary navbar-btn" %>
           <%= link_to "Dinner", recipies_path("dinner"), class: "btn btn-primary navbar-btn" %>
        </ul>
      </div>
    </div>
</div>
  
<div class ="box">
  <% for i in 1..5 %>
    <div class = "images"> 
       <% recipie = Recipie.find( Recipie.first.id + rand(Recipie.count) ) %>
       <%= link_to recipy_path(recipie) do %> 
          <img height= "100px" width= "120px" src= <%= recipie["smallImageUrls"][0] %>
          <hr>
        <p> <%= recipie.recipeName %> </p>
        <% end %>
    </div>  
  <%end %>
</div>
</div>







